{
  "name": "${node_pkg}",
  "description": "💬 Terminal-based minimal real-time chat app...",
  "version": "${node_version}",
  "bin": "./bin/${node_pkg}",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ],
  "keywords": [
    "rust",
    "cli",
    "template",
    "npm",
    "binaries",
    "tui",
    "publish",
    "ratatui"
  ]
}
